body {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-ruleta {
  width: 100%;
  height: 100vh;
  background-image: url("../image/Fondo\ Academic_Mesa\ de\ trabajo\ 1.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ruleta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 
.ruleta img{
    top: 0;
    left: 0;
} */

.logo-Academni {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
}

.logo-Academni img {
  margin: 30px;
  width: 70%;
}

.container-img-ruleta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.container-img-ruleta img {
  width: 90%;
  transition: 5s ease-in-out;
}

.container-show-item {
  /* width: 100vw;
    height: 100vh; */
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  position: fixed;
  top: 0;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.item {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
}

.item > p {
  font-size: 20px;
}


label {
  display: block;
  margin: 10px 0 5px;
}
input,
select, button {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}



.selecionador{
  width: 10px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top:-20px;
  z-index: 400;
}


.terminos-condiciones{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.terminos-condiciones p{
  width: 60%;
  margin: 15px;
  color: #fff;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

@media (max-width: 462px) {
  .terminos-condiciones p{
    color: #fff;
    font-size: 10px;
  }
}