*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /* background: rgb(0,51,94);
background: linear-gradient(186deg, rgba(0,51,94,1) 27%, rgba(50,128,184,1) 35%, rgba(12,102,106,1) 49%);  */
  background: rgb(12, 102, 106);
  background: linear-gradient(
    0deg,
    rgba(12, 102, 106, 1) 2%,
    rgba(50, 128, 184, 1) 45%,
    rgba(0, 51, 94, 1) 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rule{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* 
00335e
3280b8
0c666a */

.vara {
  height: 50px;
  width: 10px;
  background-color: #fff;
  margin: auto;
  position: relative;
  top: -230px;
  left: 312px;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #000;
  border-top: 5px solid #000;
  z-index: 1000;
}

img {
  z-index: 100;
  transition: 5s ease-in-out;
}

/* 

.container-ruleta {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
.ruleta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
} */
/* 
.ruleta > img {
  width: 600px;
} */

.boton {
  position: absolute;
  /* top: 50; */
  z-index: 3000;
  top: 260px;
  left: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 70%;
  cursor: pointer;
}

.container-show-item {
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  position: fixed;
  top: 0;
}

.item {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  transition: all 5s;
}

.item > p {
  font-size: 20px;
}

.item > button {
  margin-top: 30px;
  border: 1px solid #000;
  width: 100px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.logo {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.container_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  padding-top: 50px;
}

.text_informacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.copy {
  color: #fff;
  font-size: 35px;
  text-align: center;
}

@media (max-width: 670px) {
  .ruleta > img {
    width: 300px;
  }
  .boton {
    top: 134px;
    left: 141px;
    padding: 10px 5px;
    font-size: 10px;
  }

  .vara {
    height: 30px;
    width: 6px;
    top: -115px;
    left: 157px;
  }
  .container-show-item {
    width: 100%;
    height: 60%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 160px;
    height: 160px;
  }
  
}
