<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="../static/css/bienvenida.css">

</head>

<body>
    <div class="container-bienvenida" id="sec-bienvenida">
        <div class="bienvenida">
            <!-- <h1>{{mensaje}}</h1> -->
            <div class="container-botones">
                <h2>Bienvenidos</h2>
                <a href="./RuletaERP.html"><img id="btn-ERP" src="../static/image/Boton ERP-06.png" alt=""></a>
                <a href="./RuletaAcademi.html"> <img id="btn-ACADEMI" src="../static/image/bOTON ACADEMIC-07.png"
                        alt="">
                </a>
            </div>
        </div>
    </div>




    <script src="./js/opciones.js"></script>
</body>

</html>